

<link rel="stylesheet" href="{{ url_for('static', filename='css/Ajuste.css') }}">


<div class="content" id="noticia">
        <h1 class="heading" id="noticia">Card Flip</h1>
        <p class="description" id="noticia">Hover over a card to flip it.</p><a class="card" id="noticia" href="#!">
          <div class="front" style="background-image: url(static/img/1.jpg);">
            <p>Lorem ipsum dolor sit amet consectetur adipisiLorem ipsum dolor sit amet consectetur adipisiLorem ipsum dolor sit amet consectetur adipisi.</p>
          </div>
          <div class="back">
            <div>
              <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
              <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
              <button class="button" id="noticia">Click Here</button>
            </div>
          </div></a><a class="card" href="#!" id="noticia">
          <div class="front" style="background-image: url(//source.unsplash.com/300x402);">
            <p>Lorem ipsum dolor sit amet consectetur adipisi.</p>
          </div>
          <div class="back" id="noticia">
            <div>
              <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
              <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
              <button class="button" id="noticia">Click Here</button>
            </div>
          </div></a><a class="card" href="#!" id="noticia">
          <div class="front" style="background-image: url(//source.unsplash.com/300x403);">
            <p>Lorem ipsum dolor sit amet consectetur adipisi.</p>
          </div>
          <div class="back">
            <div>
              <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
              <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
              <button class="button" id="noticia">Click Here</button>
            </div>
          </div></a><a class="card" id="noticia" href="#!">
          <div class="front" style="background-image: url(//source.unsplash.com/300x404);">
            <p>Lorem ipsum dolor sit amet consectetur adipisi.</p>
          </div>
          <div class="back" id="noticia">
            <div>
              <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
              <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
              <button class="button" id="noticia">Click Here</button>
            </div>
          </div></a><a class="card" href="#!" id="noticia">
          <div class="front" style="background-image: url(//source.unsplash.com/300x405);">
            <p>Lorem ipsum dolor sit amet consectetur adipisi.</p>
          </div>
          <div class="back">
            <div>
              <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
              <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
              <button class="button" id="noticia">Click Here</button>
            </div>
          </div></a><a class="card" href="#!" id="noticia">
          <div class="front" style="background-image: url(//source.unsplash.com/300x406);">
            <p>Lorem ipsum dolor sit amet consectetur adipisi.</p>
          </div>
          <div class="back">
            <div>
              <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
              <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
              <button class="button" id="noticia">Click Here</button>
            </div>
          </div></a>
      </div>